**/.cf/session
**/session
.DS_Store
.idea

!.gitignore


# Ignore everything inside vault/ recursively
vault/**

# But don't ignore directories inside vault/ so git can check .enc files
!vault/
!vault/**/

# And don't ignore any .enc files at any depth inside vault/
!vault/**/*.enc
!vault/**/*.stow-local-ignore
